<html>
  <head>
  </head>
  <body>
    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <div class="bg-dark text-white p-2">
      <span class="navbar-brand ml-2">SPORTS STORE</span>
    </div>
    {{{body}}}
  </body>
</html>